@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);


// Variables Tama単os de pantallas
$mediano: 867px;
$pequeno: 797px;
$mini: 665px;
$moviles: 450px;

$regal-blue: #034378;
$san-juan: #2d4e68;
$bermuda: #77d7b9;
$white: #fff;
$black: #000;
$open-sans: 'Open Sans',
sans-serif;
// clear-fix mixin
@mixin cf {
  &::before,
  &::after {
    content: '';
    display: table;
  }
  &::after {
    clear: both;
  }
}

* {
  box-sizing: border-box;
  
}

.Busqueda {
  align-items: center;
  padding-left: 100px;
  padding-top: 10px;
}

.Etiqueta {
  padding: 5px;
}

.Busqueda-Poke {
  background-Size: contain;
  background-repeat: no-repeat;
    
  background-size: 80%;
  
  float: left;
  padding: 0 15%; //Tama単o horizontal de la card
  margin-left: 100px;
  width: 80%;
  
  @media (max-width: 1980px) {
    
    .wrapper {
      background-size: 50%;
    }
  }

  @media (max-width: 1200px) {
    background-size: 50%;
    margin-left: -100px;
    padding-right: 10px;
    .wrapper {
      background-size: 50%;
    }
  }

  @media (max-width: 950px) {
    margin-left: -140px;
    padding-right: 0px;
    width: 145%;    
    background-size: 50px;

    .wrapper {
      background-size: 50%;
    }
  }

}
.ButtonMas {
      position: fixed;
      bottom: 20px;
      right: 20px;

}

a {
  text-decoration: none;
}

h1 {
  font-family: $open-sans;
  font-weight: 300;
  color: #000000;
}

h4 {
  color: #000000;
}

.PuntosBase {
  text-decoration: none;
  list-style-type: none;
  color: #000;
}

.load {
  text-align: center;
  padding-left: 42%;
  padding-top: 10%;
  font-size: 40px;

}

.row {
  max-width: 900px;
  margin: 50px auto 0;
}

// Base styles
.Search {
.card {
  float: left;
  padding: 0 1%; //Tama単o horizontal de la card
  width: 50%;

  @media (max-width: $moviles) {
    width: 100%;
  }

  @media (max-width: 670px) {
    width: 100%;
  }

  .menu-content {
    @include cf;
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      display: inline-block;
    }
    a {
      color: $white;
    }
    span {
      position: absolute;
      left: 50%;
      top: 0;
      font-size: 10px;
      font-weight: 700;
      font-family: 'Open Sans';
      transform: translate(-50%, 0);
    }
  }
  .wrapper {
    background-color: linear-gradient(to left, #027b50, #00ff6a);  

    min-height: 500px; //tama単o

    @media (max-width: $mediano) {
      min-height: 500px;
    }

    @media (max-width: $pequeno) {
      min-height: 475px;
    }

    @media (max-width: $mini) {
      min-height: 650px;     
    }
    @media (max-width: $moviles) {
      min-height: 400px;
      
      .card {
        width: 200px;
      }
    }

    @media (max-width: 340px) {
      min-height: 600px;
    }

    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba($black, 0.3), 0 15px 12px rgba($black, 0.2);
    &:hover {
      .data {
        transform: translateY(0);
      }
    }
  }
  .data {
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(calc(70px + 1em));
    transition: transform 0.3s;
    .content {
      padding: 1em;
      position: relative;
      z-index: 1;
      
      .Info {
        display: flex;
        margin-left: auto;
      .MoreInfo {
        margin-left: 100px;
      }

      
    }
    }
  }
  .author {
    font-size: 14px;
    color: #000;
  }
  .title {
    margin-top: 10px;
  }
  .text {
    height: 70px;
    margin: 0;
    color: #000;

  }
  input[type='checkbox'] {
    display: none;
  }
  input[type='checkbox']:checked + .menu-content {
    transform: translateY(-60px);
  }
}
}

.example-2 {


  .wrapper {
    background-Size: contain;
    background-repeat: no-repeat;
    
    background-size: 80%;
    
    &:hover {
      .menu-content {
        span {
          transform: translate(-50%, -10px);
          opacity: 1;
        }
      }
    }
  }
  .header {
    @include cf;
    color: $white;
    padding: 1em;
    .date {
      float: left;
      font-size: 12px;
    }
  }
  .menu-content {
    float: right;
    li {
      margin: 0 10px;
      position: relative;
    }
    span {
      transition: all 0.3s;
      opacity: 0;
    }
  }
  .data {
    color: $white;
    transform: translateY(calc(70px + 4em));
  }
  .title {
    a {
      color: $white;
    }
  }
  .button {
    display: block;
    width: 100px;
    margin: 2em auto 1em;
    text-align: center;
    font-size: 12px;
    color: $white;
    line-height: 1;
    position: relative;
    font-weight: 700;
    &::after {
      content: '\2192';
      opacity: 0;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      transition: all 0.3s;
    }
    &:hover {
      &::after {
        transform: translate(5px, -50%);
        opacity: 1;
      }
    }
  }
}