@import "~../../../../App.scss";


.encabezado {
  width: 100%;
  height: 100px; /* Ajusta la altura según tus necesidades */
  background-color: #000000; /* Ajusta el color de fondo según tus preferencias */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999; 
}

body {
  margin-top: 0px;
}


a {
  text-decoration: none;
}

h1 {
  font-family: $open-sans;
  font-weight: 300;
  color: #000000;
}

h4 {
  color: #000000;
}


.top-bar {

  height: 100px;
  background-color: #2f302f;
  
  > .ui.container{
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
  }

  &__left {
     height: 100%;
     display: flex;
     align-items: center;
     
     .logo{
      height: 60%;

      > img {
          height: 100%;
      }
     }

     .menu {
      margin-left: 5px;
      a {
          margin: 0 5px;
          color: #ffffff;
      }
     }
  }
}